@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

/* FOOTER */

footer {
  background-color: #fff;
  color: #000;
  position: relative;
  top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-family: "Fondamento";
  font-size: 1.3rem;
  margin-bottom: -1.2rem;
 text-align-last:center ;
}

.center-social-icons{
display: flex;
justify-content: center;
align-items: center;

}
.social-icons  {
padding: 1rem;

}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.logo:hover {
  filter: invert(1) ;
}

